* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1400px;
    margin: auto;
    background-color: rgba(23, 131, 173, 0.589);
}

.site_header {
    height: 150px;
    background-color: rgba(255, 16, 16, 0.801);
}

.site_main,
.site_footer,
.block_two,
.block_three {
    margin-top: 20px;
}



.block_one {
    height: 500px;
    background-color: rgba(51, 183, 80, 0.685);
}

.block_two {
    height: 95px;
    background-color: rgba(179, 51, 183, 0.753);
}

/* ********Clearfix***********/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.bage_small {
    width: 21%;
    height: 541px;
    float: left;
    background-color: rgba(241, 123, 12, 0.842);
}

.bage_middle {
    width: 55%;
    height: 541px;
    
    float: left;
    background-color: rgba(241, 123, 12, 0.842);
}

.margin{
    margin-left: 20px;
    margin-right: 20px;
}

.block_three {
    max-width: 100%;
}